---
title: Home Page
layout: default
---

<div class="container">
  <div class="splash row">
    ><h1 class="splash-header">the short stories</h1>
    <p class="author">by mark o'connor</p>
      <p>{% for story in story.story %}
  <div class="story-list">{{ story.title }}</div>
  {% endfor %}</p>

      {% for story in story.story %}
    <div class="card">
        <!-- <h5 class="card-title">{{ story.title }}</h5> -->
        <class class="card-text">
          <i class="fas fa-quote-left"></i>
          {{ story.description }}
          <i class="fas fa-quote-right"></i>
        <button><a href="#">Read Now</a></button>
    </div>
    {% endfor %}
  </div>
s

</div>

{% include footer %}
<!-- end of splash -->
