---
title: Homey
layout: default
---

<div class="splash">
	<h1>the short stories</h1>
	<p class="author">by mark o'connor</p>
	{% for st in story %}
	<div class="story-list">{{ st.title }}</div>
	{% endfor %} {% for st in story %}
	<div class="card cluster">
		<div class="card-text">
			<i class="fas fa-quote-left"></i>
			{{ st.description }}
			<i class="fas fa-quote-right"></i>
		</div>

		<button class="button">
			<a href="./stories/{{ st.title | slug }}/">Read story now</a>
		</button>
	</div>
	{% endfor %}
</div>

{% include footer %}
<!-- end splash -->
