<nav class='nav bg-dark'>
  <li class="nav-item">
    <a class="nav-link active text-white" href="/index.html"
      ><i class="fas fa-home"></i
    ></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active text-white" href="/stories/index.html"
      ><i class="fas fa-file-archive"></i
    ></a>
    </li><li class="nav-item">{% for coll in collections.all %}{{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
</li>
</nav>




{{ content | safe }}}