---
layout: default.liquid
---

<img src="{{ cover }}" alt="" />
<h1>Thank you for choosing to read {{ title }}</h1>
<p>
  Written for submission this story has been published inthe following magazines
  and sites - if you would like to learn to write a story like this then checkl
  out my courses on my sites</p
>
{{ content }}
