@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
  --footer-color: rgba(221, 168, 168, 0.4);
  --splash-text-color: rgba(216, 204, 204, 0.4);
  --body-bg-color: rgb(0, 0, 0);
  --nav-bg-color: rgb(0, 0, 0);
  --fas-icon-color: rgb(110, 104, 104);
  --author-text-color: rgb(70, 60, 60);
  --splash-header-color: rgb(252, 250, 250);
  --card-bg-color: grey;
  --card-title-color: rgb(235, 220, 220);
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--body-bg-color);
}
.container {
  margin: 0 auto;
  width: 80%;
}
nav {
  background-color: var(--nav-bg-color);
  list-style: none;
  display: inline-block;
  display: flex;
  flex-direction: row;
}
nav li {
  padding: 10px;
  font-size: 1.5rem;
}
.fas {
  color: var(--fas-icon-color);
}
.splash {
}

.splash-header {
  color: var(--splash-header-color);
}
.author {
  color: var(--author-text-color);
  text-transform: uppercase;
}

.story-list {
  color: var(--splash-text-color);
  transition: transform 0.8s ease-in-out;
}
.row {
}
.overText {
  font-size: 1.5rem;
  transform: translatex(50px) rotate(360deg);
  transition: transform 0.8s ease-in-out;
  color: rgb(216, 15, 15);
}

.card {
  width: 300px;
  background-color: var(--card-bg-color);
  margin: 100px 0;
}
.card-title {
  color: var(--card-title-color);
}

.display-1 {
  color: grey;
}

.splash {
  margin: 0 auto;
  position: relative;

  max-width: 70vw;
  min-width: 70vw;
  height: 100vh;
  background-image: url('/assets/images/man.jpg');
  background-size: 80% 80%;
}

.footer-text {
  color: var(--footer-color);
}
/* .card {
  border: 0;
} */
/* .display-1 {
  position: absolute;
  bottom: 600px;
  left: 500px;
}
.display-6 {
  position: absolute;
  bottom: 550px;
  left: 500px;
} */
